{% extends 'shop/shop_base.html' %}
{% load static %}
{% block 'title' %}
Checkout
{% endblock %}

{% block 'content' %}
<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Checkout<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="checkout">
        <div class="container">
            <div class="checkout-discount">
                <form action="#">
                    <input type="text" class="form-control" required id="checkout-discount-input">
                    <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter
                            your code</span></label>
                </form>
            </div><!-- End .checkout-discount -->
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                        
                        <label>Address *</label>
                        <input type="text" name="address" class="form-control" required>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <label>City *</label>
                                <input type="text" name="city" class="form-control" required>
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label>State*</label>
                                <input type="text" name="state" class="form-control" required>
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <label>ZIP *</label>
                                <input type="text" name="zipcode" class="form-control" required>
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label>Country *</label>
                        <input type="text" name="country" class="form-control" required>
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for product in cart_products %}
                                    <tr>
                                        <td><a href="#">{{product.product.name}} (x{{product.quantity}})</a></td>
                                        <td>₹{{product.total_price}}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>₹{{ order.totalCartPrice }}</td>
                                    </tr><!-- End .summary-subtotal -->
                                    
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>₹{{ order.totalCartPrice }}0</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Proceed to Checkout</span>
                            </button>
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->
{% endblock %}